#app-jumbotron {
  padding: 100px 0;
  h1{
    margin-bottom: 50px;
    text-align: center;
  }
}

#app-icons {
  margin-bottom: 100px;
  img:hover{
    margin: auto;
    display: block;
    width: 100%;
    overflow: hidden;
    //box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
    transform: scale(0.90);
    transition: .2s ease all;
  }
}

#app-content {
  padding: 50px 0;
  margin: 20px;
  background-color: #e6ebe7;
  height: 500px;
  margin-bottom: 200px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: .2s ease all;

  .item {
    margin-bottom: 100px;

    .info {
      padding: 15px;
    }

    img {
      max-width: 400px;


    }

  }
}